@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

.App {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  /* The image used */
  background-image: url(../src/images/curiosityselfie.jpg);

  /* Full height */
  height: 100vh; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container.container {
  position: absolute;
  top: 30px;
  left: 46px;
  bottom: 30px;
}

div#Cameras {
  background: rgba(0,0,0,.3);
  padding: 10px;
}

.appbutton {
  color: white !important;
}

.modal {
  background-color: rgba(0,0,0,.3);
}

.my-2 {
  color: white;
}

.column1 {
  border: #FFFFFF 2px solid;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
