@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
}

.App {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  /* The image used */
  background-image: url(../src/images/curiosityselfie.jpg);

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

Button {
  color: white !important;
}

.modal {
  background-color: #000000
}

.my-2 {
  color: white;
}

.column1 {
  border: #FFFFFF 1px solid;
  border-bottom-style: none;
}

.column2 {
  border: #FFFFFF 1px solid;
  border-top-style: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
